# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode8.3
xcode_sdk: iphonesimulator10.2
language: swift
sudo: required
# podfile: Example/Podfile
# before_install:
# - gem install cocoapods # Since Travis is not always on latest version
# - pod install --project-directory=Example
script:
- xcodebuild -workspace JSONParserSwift.xcworkspace -scheme JSONParserSwift -destination 'platform=iOS Simulator,name=iPhone 6,OS=10.2' clean build
- pod lib lint
after_success:
  - bash <(curl -s https://codecov.io/bash)
